#main{
	display: flex;
	height: 900px;
	opacity: 0.9;
	background-position: center;
	background-attachment: fixed;
	/*-webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);*/
}
.top{
	display: flex;
	width: 50%;
	list-style: none;
	text-align: center;
	font-size: 1.6rem;
	font-family: 'Raleway', sans-serif;
	color: #47A3FF;
	background-color: black;
}
.top>p{
	text-align: center;
	width: 50%;
}
.top>ul{
	display: flex;
	justify-content:space-around;
	width: 100%;
	list-style:none;
	-moz-padding: 0px;
}
.font{
	font-family: 'Raleway', sans-serif;
}
.art{
	text-align: center;
}
/*#nav{
	position: fixed;
	width:100%; 
	display: flex;
}*/
.links{
	width:inherit;
	color: #47A3FF;
	text-align: justify;
	text-decoration: none;
}
#heading{
	height: 200px;
	vertical-align: middle;
}

#heading>h1{
	color: rgb(137, 196, 255);
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
#heading>p{
	color: rgb(137, 196, 255);
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-style: italic;
}
.links>a{
	text-decoration: none;
	color: #47A3FF;
	vertical-align: middle;
	padding-top: 40px;
	transition: all 0.4s ease-in-out;
}
.links:hover{
	color: #652EC7;
}
.blogbox{
	text-align: center;
	height: 300px;
	width: 300px;
	margin: 20px;
	/*-webkit-filter: blur(2px);
    -moz-filter: blur(3px);
    -ms-filter: blur(3px);
    -o-filter: blur(3px);
    filter: blur(3px);*/
	/*-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;*/
	/*border-radius: 6px;*/
}
.blogbox:hover{
	opacity: 0.7;
	border-radius: 150px;
	/*-webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);*/
}
.transition{
	transition:all 0.4s;
	-moz-transition: all .4s;
    -webkit-transition: all .4s;
}
#centeringdiv{
	display: flex;
	justify-content:center;
}
#footer{
	height: 275px;
	background-color: black;
}
#footer>p{
	text-align: center;
	height: 25px;
	color: cornflowerblue;
	font-family: 'Raleway', sans-serif;

}
#blogparent>div{
	max-width: 350px;
	margin: 14px;
}
#blogparent{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content: space-around;
	min-height: 700px;
	text-align: center;
	max-width: 60%;
}
.titles{
	vertical-align: middle;
	display: inline-block;
	list-style: none;
	padding-top: 40px;
	text-decoration: none;
	font-weight: initial;
	font-family: 'Raleway', serif;
	text-decoration: none;
	padding-top: inherit;
	font-size: 1.3rem;
}
#image-black{
	background-color: #000;
}
#blogparent>div>a{
	text-decoration: none;
	color: #47A3FF;
	vertical-align: middle;
	font-weight: bold;	
	font-size: 1.3rem;	
}
#body{
	margin:0px;
	padding:0px;
	background-color: #0C1010;
}
