#blgimg{
	background-repeat: no-repeat;
	background-position: center;
	height: 650px;
	background-attachment: fixed;
	background-size: contain;
}
body{
	background-color: #0C1010
}
#divider{
	padding-top:80px;
}
.tags{
	text-decoration: none;
	list-style: none;
	margin: 10px;
	font-style: italic;
}
.tagbox{
	display: flex;
}