#body{
	background-color : #0C1010;
}
#blgimg{
	background-size:cover;
	height: 900px;
	opacity : 0.8;
}
#portfolio{
	text-align: center; 
	color : black;
	font-size: 6rem;
	margin: auto;
	vertical-align: middle;
}
#port{
	margin: 15%;
}
.font{
	font-family: 'raleway', sans-serif;
}
#main{
	display: flex;
	flex-wrap:wrap;
}
#test{
	color:cyan;
	display : inline-block;
	word-wrap: break-word;
}
