<!DOCTYPE html>
{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/blogpage.css' %}"></link>
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}"></link>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,300,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Debojit Kaushik|My Articles</title>
</head>
<body id="body">
	<div id="main" style="background-image:url({{MEDIA_URL}}blog_img/albert-einstein-quotes-05.jpg);">
		<div class="navbar-fixed">
			<nav class="black ligthen-4 z-depth-4">
			<div class="nav-wrapper container">
				<a href="/allmyblogs" class="brand-logo cyan-text text-accent-2 font">
					My Articles
				</a>
				<!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href='/main' class="cyan-text text-accent-2 font">Home</a>
					</li>
					<li>
						<a href="/my_portfolio" class="cyan-text text-accent-2 font">Debojit's Portfolio</a>
					</li>
					{% if request.user.is_authenticated%}
					<li>
						<a href="/createmyblog" class="cyan-text text-accent-2 font navbar">Create Blog</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		</div>
	</div>
	<div class="center section">
		<h3 class="cyan-text text-accent-2 font">HEY THERE!</h3>
		<p class="cyan-text text-accent-2 font" style="font-style:italic">These are some of my articles. Feel free to go ahead and have a read. Thanks!</p>
	</div>
	<div class="divider container cyan"></div>
	<div id="centeringdiv" class="section">
		<div id="blogparent">
		{% for i in blog %}
		    <div>	
		    	<a href="/{{i.id}}"><div class="blogbox transition" style="background:url({{MEDIA_URL}}{{i.blog_image}});background-position:center;background-size:cover;background-repeat:no-repeat">
		        </div>
		    		<li class="titles cyan-text text-accent-2" >{{ i.blog_title }}</li> 
		        </a>
			</div>	
		{% endfor %}    
	</div>
	</div>
	
	<div class="black" style="margin:0px">
		<div class="row container" id="form">
			<div class="container section">
				<h4 class="center cyan-text text-accent-2" style="font-family:Raleway ,sans-serif">
					Feel Free to Get In Touch!
				</h4>	
			</div>
			<form method = 'POST' class="form col s12">
				{% csrf_token %}
				<div class="row">
					<div class="input-field col s6 white-text">
							<i class="material-icons prefix">person_pin</i>
							{{form.name}}
							<label for="first_name">Name</label>
					</div>
					<div class="input-field col s6 white-text validate">
							<i class="material-icons prefix">my_location</i>
							{{form.host_country}}
							<label for="first_name">Country</label>
					</div>
					<div class="input-field col s6 white-text">
							<i class="material-icons prefix">email_circle</i>
							{{form.email}}
							<label for="email ">Email</label>
					</div>
					<div class="input-field col s12 white-text">
					<i class="material-icons prefix">mode_edit</i>
							{{form.message}}
							<label for="textarea1">Your Message:</label>
					</div>
					<button id="button" style="margin-right:10px" class="btn waves-effect waves-light right">SUBMIT
    					<i class="material-icons">send</i>
  					</button>
				</div>
			</form>
		</div>
		
	</div>
	<!-- <footer class="page-footer">
		<div class="container">
			<div class="row">
			</div>
		</div>
	</footer> -->
</body>
<footer class="page-footer transparent">
          <div class="container">
            <div class="row">
              <div class="col l10 s10">
                <h5 class="cyan-text text-accent-2">Debojit Kaushik</h5>
                
              </div>
              <div class="col l4 offset-l2 s12">
                <!-- <h5 class="cyan-text text-accent-2">Links</h5>
                <ul>
                  <li><a class="cyan-text text-accent-2 text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="cyan-text text-accent-2 text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="cyan-text text-accent-2 text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="cyan-text text-accent-2 text-lighten-3" href="#!">Link 4</a></li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container cyan-text text-accent-2">
            Debojit Kaushik © | All Rights Reserved.
            <a class="cyan-text text-accent-2 text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</footer>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'Js/blogpage.js' %}"></script>
<script type="text/javascript" src="{% static 'Js/materialize.js' %}"></script>
</html>
