<!DOCTYPE html>
{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/blog_specific.css' %}"></link>
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}"></link>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,300,600' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>{{ blog.blog_title }}</title>
</head>
<body>
	<div id="blgimg" style="background-image:url({{MEDIA_URL}}{{blog.blog_image}})">
		<div class="navbar-fixed">
			<nav class="black ligthen-4 z-depth-4">
			<div class="nav-wrapper container">
				<a href="/allmyblogs" class="brand-logo cyan-text text-accent-2 ">
					My Articles
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href=/main class="cyan-text text-accent-2">Home</a>
					</li>
					<li>
						<a class="cyan-text text-accent-2">Debojit's Portfolio</a>
					</li>
					{% if request.user.is_authenticated%}
					<li>
						<a href="/createmyblog" class="cyan-text text-accent-2 navbar">Create Blog</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		</div>
		<!-- <img class="responsive-img" src="{{MEDIA_URL}}{{blog.blog_image}}"> -->
	</div>
</head>
	<div id="divider" class="section">
		<div class="divider container cyan"></div>
	</div>
	<div class="container">
		<div class="cyan-text text-accent-2 center" >
			<h1 style="font-family:Raleway ,sans-serif">{{ blog.blog_title }}</h1>
			
			{% if request.user.is_authenticated == True %}
			<p><a href="/edit/{{blog.id}}">Edit this blog</a></p>
			{% endif %}	
		
			<p style="font-style:italic">Created {{ blog.date | timesince }} ago at {{ blog.time }} from New Delhi.</p>
		</div>
		<div class="white-text">
			<div><p class="flow-text" style="font-size:1.3rem;font-family:Raleway ,sans-serif">
				{% autoescape off %}	
				{{blog.blog_content|urlize|linebreaksbr}}
				{% endautoescape %}
			</p></div>
		</div>
		<div class="white-text tag">
			<h4 class="cyan-text text-accent-2">Relevant topics</h4>
				<div class="tagbox">
					{% for j in blog.relevent_fields.names %}
						<li class="tags">{{ j }}</li>
					{% endfor %}
				</div>
		</div>
	</div>
	<div>
		
	</div>
</body>
<footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l10 s10">
                <h5 class="cyan-text text-accent-2">Debojit Kaushik</h5>
                
              </div>
              <div class="col l4 offset-l2 s12">
                <!-- <h5 class="cyan-text text-accent-2">Links</h5>
                <ul>
                  <li><a class="cyan-text text-accent-2 text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="cyan-text text-accent-2 text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="cyan-text text-accent-2 text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="cyan-text text-accent-2 text-lighten-3" href="#!">Link 4</a></li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container cyan-text text-accent-2">
             © Debojit Kaushik | All Rights Reserved.
            <a class="cyan-text text-accent-2 text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</footer>
</html>
