<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
	<title>DebojitKaushik|Create your blog</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/new_blog.css' %}"></link>
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}"></link>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,300,600' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div class="navbar-fixed">
			<nav class="black ligthen-4 z-depth-4">
			<div class="nav-wrapper container">
				<a href="/allmyblogs" class="brand-logo cyan-text ">
					My Articles
				</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href=/main class="cyan-text">Home</a>
					</li>
					<li>
						<a class="cyan-text">Debojit's Portfolio</a>
					</li>
					{% if request.user.is_authenticated%}
					<li>
						<a href="/createmyblog" class="cyan-text navbar">Create Blog</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		</div>
	<form class="container" method="POST" enctype='multipart/form-data' action="." >
		{% csrf_token %}
		<div class="input-field col s6 white-text">
			{{ form.Blog_title}}
			<label for="name">What do you want to call this blog?</label>
		</div>
		<div class="input-field col s12 white-text">
							{{form.Write_your_content}}
							<label for="textarea1">Write your Blog Here!</label>
					</div>
		<div class="input-field col s6 white-text">
			{{ form.Related_blog_image}}
			<label>What is the relevent image?</label>
		</div>
		<div class="input-field col s6 white-text">
			{{ form.new_relevent_fields }}
			<label for="name">What are the Relevent Fields?</label>
		</div>
		<button type="submit" id="button" style="margin-right:10px" class="btn waves-effect waves-light right">SUBMIT
    					<i class="material-icons">send</i>
  		</button>
	</form>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'Js/materialize.js' %}"></script>
</html>
			
