<<!DOCTYPE html>
<html>
<head>
	{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/blogpage.css' %}"></link>
	<link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}"></link>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,500,700,800,300,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Debojit Kaushik|Portfolio</title>
</head>
</head>
<body>
	<div id="main" style="background-image:url({{MEDIA_URL}}blog_img/albert-einstein-quotes-05.jpg);">
		<div class="navbar-fixed">
			<nav class="black ligthen-4 z-depth-4">
			<div class="nav-wrapper container">
				<a href="/allmyblogs" class="brand-logo cyan-text font">
					My Articles
				</a>
				<!-- <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a> -->
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a href='/main' class="cyan-text font">Home</a>
					</li>
					<li>
						<a href="/my_portfolio" class="cyan-text font">Debojit's Portfolio</a>
					</li>
					{% if request.user.is_authenticated%}
					<li>
						<a href="/createmyblog font" class="cyan-text navbar">Create Blog</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		</div>
		
	</div>
</body>
</html>